.cima,
.baixo {
  height: 10%;
}

.baixo1 {
  height: 5%;
}

.meio {
  height: 70%;
  background-color: rgb(198, 198, 198);
}

.meio1 {
  height: 70%;
  background-color: rgb(198, 198, 198);
}

.excluir {
  width: 300px;
  height: 90%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}

.excluir .fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(4px);
}

.excluir .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 147, 0, 0.559);
  z-index: 0;
}

.excluir p {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  font-size: 100%;
  padding: 20px;
  text-transform: uppercase;
}



.select {
  background-color: #ffffff;
  height: 80%;
  overflow: auto;
}

.opcao {
  width: 100%;
  height: 20%;
  background-color: rgb(198, 198, 198);
  border: 5px solid white;
  cursor: pointer;
}

.add {
  color: white;
  width: 100%;
  height: 20%;
  border: 5px solid white;
  cursor: pointer;
}

.borda-verde {
  border-color: rgb(59, 253, 59);
}

.tra {
  height: 50px;
}

.escolher {
  height: 90%;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}

.escolher .fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(4px);
}

.escolher .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 147, 0, 0.559);
  z-index: 0;
}

.escolher p {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  font-size: 100%;
  padding: 20px;
  text-transform: uppercase; 
  text-decoration: none;
}

.escolher a {
  text-decoration: none;
}
