.cima {
  height: 15%;
}

.baixo {
  height: 10%;
}

.baixo1 {
  height: 5%;
}

.meio {
  height: 70%;
  background-color: rgb(198, 198, 198);
}

.meio1 {
  height: 70%;
  background-color: rgb(198, 198, 198);
}
#loader-space {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 2;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  color: rgba(0, 147, 0, 0.559);
  position: absolute;
  background: conic-gradient(from 90deg at 3px 3px, #0000 90deg, currentColor 0) -3px -3px /
    calc(50% + 1.5px) calc(50% + 1.5px);
  animation: l28 2s infinite;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  background: repeating-conic-gradient(#0000 0 35deg, currentColor 0 90deg);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  border-radius: 50%;
}
.loader::after {
  margin: 20%;
}
@keyframes l28 {
  100% {
    transform: rotate(1turn);
  }
}

.excluir {
  width: 300px;
  height: 90%;
  color: #ffffff;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: transform 0.5s ease;
}

.excluir .fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(4px);
}

.excluir .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 147, 0, 0.559);
  z-index: 0;
}

.excluir:hover {
  transform: translate(5px, 5px);
  box-shadow: none;
}

.excluir:hover .overlay {
  background-color: rgba(3, 64, 3, 0.559);
}

.excluir p {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  font-size: 100%;
  padding: 20px;
  text-transform: uppercase;
}

.select {
  background-color: #ffffff;
  height: 80%;
  overflow: auto;
}

.opcao {
  width: 100%;
  height: 20%;
  background-color: rgb(198, 198, 198);
  border: 5px solid white;
  cursor: pointer;
}

.add {
  color: white;
  width: 100%;
  height: 20%;
  border: 5px solid white;
  cursor: pointer;
}

.borda-verde {
  border-color: rgb(59, 253, 59);
}

.tra {
  height: 50px;
}

.escolher {
  height: 90%;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: transform 0.5s ease;
}

.escolher .fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(4px);
}

.escolher .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 147, 0, 0.559);
  z-index: 0;
}

.escolher:hover {
  transform: translate(5px, 5px);
  box-shadow: none;
}

.escolher:hover .overlay {
  background-color: rgba(3, 64, 3, 0.559);
}

.escolher p {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  font-size: 100%;
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.escolher a {
  text-decoration: none;
}
