:root {
  --cor-matricula: rgb(26, 26, 26);
  --cor-preferencial: rgb(19, 94, 19);
  --cor-remanescente: rgb(16, 48, 96);
  --cor-listas: gray;
}

.cima {
  height: 17%;
  position: relative;
}

.cima-2 {
  height: 25%;
  position: relative;
  
}

#abrirModal{
  position: absolute;
  width: 8%;
  top: 30%;
  right: 9%;
  font-size: 18px !important;
}
#abrirModal2{
  position: absolute;
  width: 8%;
  top: 35%;
  right: 10%;
  font-size: 18px !important;
}
#compareceu-area{
  position: absolute;
  top: 75%;
}
.icon{
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.modalzin {
  min-height: 500px!important;
  overflow-y: auto;
}

.sala {
  height: 20%;
  cursor: pointer!important ;
}


.guiche {
  height: 20%;
  cursor: pointer!important ;
}

.meio {
  height: 70%;
}

.meiomeio {
  height: 5%;
}

.baixo {
  height: 10%;
}

.background  {
  background-color: red;
}

.titulo {
  height: 15%;
  width: 100%;
}

.matricula {
  background-color: var(--cor-matricula);
  border: solid;
  border-color:rgb(0, 0, 0);
}

.remanescente {
  background-color: var(--cor-remanescente);
  border: solid;
  border-color: rgb(5, 5, 55);
}

.preferencial {
  background-color: var(--cor-preferencial);
  border: solid;
  border-color:rgb(0, 74, 6);
}

.listas {
  background-color: var(--cor-listas);
  border: solid;
  border-color:rgb(78, 78, 78);
}

.conteudo {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: rgb(165, 165, 165);
}

.senha {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  cursor: pointer;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-matricula {
  border-color: var(--cor-matricula);
}

.border-remanescente {
  border-color: var(--cor-remanescente);
}

.border-preferencial {
  border-color: var(--cor-preferencial);
}

.bg-cinza {
  background-color: rgb(198, 198, 198);
}

.item{
  height: 10%;
  width: 100%;
}
